<app-list-view title="Holiday Management" icon="bi-calendar-heart">

    <div controlsBtns>
      <a class="btn btn-secondary me-2">
        <i class="bi-plus-lg"></i> Create
      </a>
      <button class="btn btn-danger me-2">
        <i class="bi-arrow-down-square"></i> Import
      </button>
      <button class="btn btn-success">
        <i class="bi-arrow-up-square"></i> Export
      </button>
    </div>
  
    <form action="#" searchForm class="row">
        <div class="col-auto">
            <label class="form-label">All Type</label>
            <select class="form-select">
              <option value="">All Type</option>
              @for (item of holidayType; track $index) {
                <option [value]="item">{{item}}</option>
              }
            </select>
          </div>

      <div class="col-auto">
        <app-form-group label="Create Holiday">
          <input type="date" class="form-control">
        </app-form-group>
      </div>
  
      <div class="col-auto">
        <app-form-group label="Edit Holiday">
          <input type="date" class="form-control">
        </app-form-group>
      </div>
  
      <div class="col btn-wrapper">
        <button class="btn btn-outline-primary">
          <i class="bi-search"></i> Search
        </button>
      </div>
  
    </form>
  
    <table resultList class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Holiday </th>
          <th>Description</th>
        </tr>
      </thead>
    </table>
  
  </app-list-view>